<div class="inner">
	<header>
		<h1>Fenología</h1>
		<p><strong>El progreso de cultivo</strong> representa el desarrollo del periodo vegetativo del cultivo expresado en porcentaje. Para cualquier periodo de diez días del año, el mapa indica cuánto ha avanzado la campaña agrícola, representando dicho avance con un valor entre el 0 y el 100 por ciento (es decir, 50 por ciento es el punto medio del periodo vegetativo). El avance de la campaña agrícola se basa en el promedio de la serie histórica de la fenología de la vegetación para cada píxel. Esta simplificación supone que la fenología de los cultivos es estática y, por tanto, que los periodos vegetativos avanzan a un ritmo constante cada año.</p>
	</header>
	<h1>Campaña 1</h1>
	<h2>Granos básicos</h2>
	<section class="tiles">
	
		<article>
			<span class="image">
				<img src="<%= image_path("Centroamerica_SOS1.png") %>" alt="" />
			</span>
			<a href="<%= image_path("Centroamerica_SOS1.png") %>">
				<h2>Primera</h2>
				<div class="content">
					<p>Fechas de inicio de la campaña agricola 1.</p>
				</div>
			</a>
		</article>
		<article>
			<span class="image">
				<img src="<%= image_path("Centroamerica_EOS1.png") %>" alt="" />
			</span>
			<a href="<%= image_path("Centroamerica_EOS1.png") %>">
				<h2>Postrera</h2>
				<div class="content">
					<p>Fecha finales de la campaña agricola 1.</p>
				</div>
			</a>
		</article>
		
		
	</section>
	&nbsp;
	
	<h2>Corredor seco</h2>
	<section class="tiles">
	
		<article>
			<span class="image">
				<img src="<%= image_path("Centroamerica_CSC_SOS1.png") %>" alt="" />
			</span>
			<a href="<%= image_path("Centroamerica_CSC_SOS1.png") %>">
				<h2>Primera</h2>
				<div class="content">
					<p>Fechas de inicio de la campaña agricola 1.</p>
				</div>
			</a>
		</article>
		<article>
			<span class="image">
				<img src="<%= image_path("Centroamerica_CSC_EOS1.png") %>" alt="" />
			</span>
			<a href="<%= image_path("Centroamerica_CSC_EOS1.png") %>">
				<h2>Postrera</h2>
				<div class="content">
					<p>Fecha finales de la campaña agricola 1.</p>
				</div>
			</a>
		</article>
		
	</section>
	
	<h1>Campaña 2</h1>
	<h2>Granos básicos</h2>
	<section class="tiles">
	
		<article>
			<span class="image">
				<img src="<%= image_path("Centroamerica_SOS2.png") %>") %>" alt="" />
			</span>
			<a href="<%= image_path('Centroamerica_SOS2.png') %>">
				<h2>Primera</h2>
				<div class="content">
					<p>Fechas de inicio de la campaña agricola 2.</p>
				</div>
			</a>
		</article>
		<article>
			<span class="image">
				<img src="<%= ("Centroamerica_EOS2.png") %>" alt="" />
			</span>
			<a href="<%= ("Centroamerica_EOS2.png") %>">
				<h2>Postrera</h2>
				<div class="content">
					<p>Fecha finales de la campaña agricola 2.</p>
				</div>
			</a>
		</article>
		
		
	</section>
	&nbsp;
	
	<h2>Corredor seco</h2>
	<section class="tiles">
	
		<article>
			<span class="image">
				<img src="<%= image_path("Centroamerica_CSC_SOS2.png") %>" alt="" />
			</span>
			<a href="<%= image_path("Centroamerica_CSC_SOS2.png") %>">
				<h2>Primera</h2>
				<div class="content">
					<p>Fechas de inicio de la campaña agricola 2.</p>
				</div>
			</a>
		</article>
		<article>
			<span class="image">
				<img src="<%= ("Centroamerica_CSC_EOS2.png") %>" alt="" />
			</span>
			<a href="<%= ("Centroamerica_CSC_EOS2.png") %>">
				<h2>Postrera</h2>
				<div class="content">
					<p>Fecha finales de la campaña agricola 2.</p>
				</div>
			</a>
		</article>
		
	</section>
</div>