<div class="jumbotron">
	<header>
		<h1>Fenología</h1>
		<p><strong>El progreso de cultivo</strong> representa el desarrollo del periodo vegetativo del cultivo expresado en porcentaje. Para cualquier periodo de diez días del año, el mapa indica cuánto ha avanzado la campaña agrícola, representando dicho avance con un valor entre el 0 y el 100 por ciento (es decir, 50 por ciento es el punto medio del periodo vegetativo). El avance de la campaña agrícola se basa en el promedio de la serie histórica de la fenología de la vegetación para cada píxel. Esta simplificación supone que la fenología de los cultivos es estática y, por tanto, que los periodos vegetativos avanzan a un ritmo constante cada año.</p>
	</header>
	<h2>Campaña 1</h2>
	<h3>Granos básicos</h3>
	<div class="row mb-2">
	
		<div class="col-md-6">
				<a href="<%= image_path("Centroamerica_SOS1.png") %>"><img src="<%= image_path("Centroamerica_SOS1.png") %>" width="100%" /></a>
		</div>
		<div class="col-md-6">
				<a href="<%= image_path("Centroamerica_EOS1.png") %>"><img src="<%= image_path("Centroamerica_EOS1.png") %>" width="100%" /></a>
		</div>
		
		
	</div>
	&nbsp;
	
	<h3>Corredor seco</h3>
	<div class="row mb-2">
	
		<div class="col-md-6">
				<a href="<%= image_path("Centroamerica_CSC_SOS1.png") %>"><img src="<%= image_path("Centroamerica_CSC_SOS1.png") %>" width="100%" /></a>
		</div>
		<div class="col-md-6">
				<a href="<%= image_path("Centroamerica_CSC_EOS1.png") %>"><img src="<%= image_path("Centroamerica_CSC_EOS1.png") %>" width="100%" /></a>
		</div>
		
		
	</div>
	
	<h2>Campaña 2</h2>
	<h3>Granos básicos</h3>
	<div class="row mb-2">
	
		<div class="col-md-6">
				<a href="<%= image_path("Centroamerica_SOS2.png") %>"><img src="<%= image_path("Centroamerica_SOS2.png") %>" width="100%" /></a>
		</div>
		<div class="col-md-6">
				<a href="<%= image_path("Centroamerica_EOS2.png") %>"><img src="<%= image_path("Centroamerica_EOS2.png") %>" width="100%" /></a>
		</div>
		
		
	</div>
	
	&nbsp;
	
	<h3>Corredor seco</h3>
	<div class="row mb-2">
	
		<div class="col-md-6">
				<a href="<%= image_path("Centroamerica_CSC_SOS2.png") %>"><img src="<%= image_path("Centroamerica_CSC_SOS2.png") %>" width="100%" /></a>
		</div>
		<div class="col-md-6">
				<a href="<%= image_path("Centroamerica_CSC_EOS2.png") %>"><img src="<%= image_path("Centroamerica_CSC_EOS2.png") %>" width="100%" /></a>
		</div>
		
		
	</div>
</div>