<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://recursoshidricos.org/"><img src="<%= image_path("crrh.png") %>" height="42" /></a>
  <a class="navbar-brand" href="http://www.fao.org"><img src="<%= image_path("fao.png") %>" height="42" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="informacionAgronoma" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false">Información agronómica</a>
        <div class="dropdown-menu" aria-labelledby="informacionAgronoma">
          <a class="dropdown-item" href="#">Cultivos y otras coberturas de la tierra</a>
          <a class="dropdown-item" href="<%= phenoilogy_path %>">Fenología</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= state_of_vegetation_path %>">Estado de la vegetación</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="<%= basic_grains_path %>" id="branosBasicos">Granos básicos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= ca_dry_corridor_path %>" id="corredorSeco">Corredor Seco</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= references_path %>" id="reference">Referencias</a>
      </li>
    </ul>
  </div>
</nav>
