<div class="card" style="min-width: 500px;max-width: 500px;">
    <a href="<%= img.full_path %>" data-lightbox="image_<%= index %>">
        <img class="card-img-top" src="<%= img.full_path %>" >
    </a>
    <div class="card-body">
    <h5 class="card-title"><%= get_index_type(img.main_class) %></h5>
    <p class="card-text">Tipo de cultivo: <%= get_vegetation_type(img.crop_type) %></p>
    </div>
    <div class="card-footer">
    <small class="text-muted">
        <%= img.image_date.strftime("%Y/%m/%d") %>
    </small>
    </div>
</div>