<div class="col-md-6">
	<h1>Referencias</h1>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/oKqzgk616Rc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<table width="900" align="center">
                    <tbody><tr><td width="100%" align="left"> <br><br><b>Metodología e Informes de Seguimiento</b><br></td></tr>

                    <tr><td width="100%">
                        <table cellspacing="3" cellpadding="3">
                            <tbody><tr>
                           <td><a href="http://www.sciencedirect.com/science/article/pii/S0034425710002798"><img src="<%= image_path("Ref_1.jpg") %>" border="0"></a></td><td> <b>O. Rojas, A. Vrieling b, F. Rembold:</b> <a href="http://www.sciencedirect.com/science/article/pii/S0034425710002798">Assessing drought probability for agricultural areas in Africa with coarse resolution
                           remote sensing imagery</a></td></tr>

                          <tr><td><a href="http://bookshop.europa.eu/en/the-challenges-of-index-based-insurance-for-food-security-in-developing-countries-pbLB3112369/"><img src="<%= image_path("Ref_2.jpg") %>" border="0"></a></td><td> <b> O. Rojas, Shukri Ahmed:</b> <a href="http://bookshop.europa.eu/en/the-challenges-of-index-based-insurance-for-food-security-in-developing-countries-pbLB3112369/">Feasibility of using the FAO-Agricultural Stress Index System (ASIS) as a Remote Sensing based Index for Crop Insurance. </a>
                          </td></tr>

                          <tr><td><a href="http://www.tandfonline.com/doi/abs/10.1080/01431161.2015.1126378"><img src="<%= image_path("rs.jpg") %>"></a></td><td> <b>R.V. Hoolst, H. Eerens, etc:</b> <a href="http://www.tandfonline.com/doi/abs/10.1080/01431161.2015.1126378">FAO’s AVHRR-based Agricultural Stress Index System (ASIS) for global drought monitoring</a>
                          </td></tr>
                          <!-- <tr><td>&nbsp;
                          </td></tr>
                  <tr><td><a href="asis/data/ref/Herman.ppt"><img src="imgs/VITO_2.jpg"/></a></td><td><b>VITO:</b> <a href="asis/data/ref/Herman.ppt">Development of a global Agricultural Drought Stress Index System (ASIS) based on Earth Observation data-Software and Others<br></a>
                          </td></tr>-->
                           <tr><td>&nbsp;
                          </td></tr>
                            <tr><td><a href="http://www.fao.org/documents/card/en/c/67da3ac0-734e-4bf2-aeac-3cb09b419623/"><img src="<%= image_path("elnino.jpg") %>"></a></td><td><b>O. Rojas, Y. Li, R.Cumani: </b> <a href="http://www.fao.org/documents/card/en/c/67da3ac0-734e-4bf2-aeac-3cb09b419623/">Understanding the drought impact of El Niño on the global agricultural areas: An assessment using FAO’s Agricultural Stress Index (ASI)</a>
                          </td></tr>

                          <tr><td>&nbsp;
                          </td></tr>
                            <tr><td><a href="http://www.fao.org/documents/card/en/c/792d9efb-7bc0-4a69-8240-0459a44f450c/"><img src="<%= image_path("protocol.jpg") %>"></a></td><td><b>O. Rojas: </b> <a href="http://www.fao.org/documents/card/en/c/792d9efb-7bc0-4a69-8240-0459a44f450c/">Protocol for Country-Level ASIS, Calibration and national adaptation processes</a>
                          </td></tr>
                           <tr><td>&nbsp;
                          </td></tr>
                            <tr><td><a href="http://www.fao.org/documents/card/en/c/93debcf8-7f70-49a9-b729-2dbc7ee1a6f7/"><img src="<%= image_path("charector.jpg") %>"></a></td><td><b>M. Cumani, O. Rojas: </b> <a href="http://www.fao.org/documents/card/en/c/93debcf8-7f70-49a9-b729-2dbc7ee1a6f7/">Characterization of the Agricultural Drought Prone Areas on a Global Scale, using the FAO Agricultural Stress Index System (ASIS) to enhance the understanding of, and boost resilience to, water stress conditions in drought-prone areas</a>
                          </td></tr>
                        </tbody></table>

                    </td></tr>
                </tbody></table>

</div>