<div class="jumbotron">
<h1>Referencias</h1>
	<div class="row md-2">
		<div class="col-md-5">
			<table class="table table-condensed">
				<tbody>
					<tr>
						<td colspan="2">
						<strong>Metodología e Informes de Seguimiento</strong>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.sciencedirect.com/science/article/pii/S0034425710002798">
								<img src="<%= image_path("Ref_1.jpg") %>" border="0">
							</a>
						</td>
						<td> 
							<strong>O. Rojas, A. Vrieling b, F. Rembold:</strong> 
							<a href="http://www.sciencedirect.com/science/article/pii/S0034425710002798">
							Assessing drought probability for agricultural areas in Africa with coarse resolution remote sensing imagery
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://bookshop.europa.eu/en/the-challenges-of-index-based-insurance-for-food-security-in-developing-countries-pbLB3112369/">
								<img src="<%= image_path("Ref_2.jpg") %>" border="0">
							</a>
						</td>
						<td> 
							<b> O. Rojas, Shukri Ahmed:</b> 
							<a href="http://bookshop.europa.eu/en/the-challenges-of-index-based-insurance-for-food-security-in-developing-countries-pbLB3112369/">
								Feasibility of using the FAO-Agricultural Stress Index System (ASIS) as a Remote Sensing based Index for Crop Insurance. 
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.tandfonline.com/doi/abs/10.1080/01431161.2015.1126378">
								<img src="<%= image_path("rs.jpg") %>">
							</a>
						</td>
						<td> 
							<b>R.V. Hoolst, H. Eerens, etc:</b> 
							<a href="http://www.tandfonline.com/doi/abs/10.1080/01431161.2015.1126378">
								FAO’s AVHRR-based Agricultural Stress Index System (ASIS) for global drought monitoring
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.fao.org/documents/card/en/c/67da3ac0-734e-4bf2-aeac-3cb09b419623/">
								<img src="<%= image_path("elnino.jpg") %>">
							</a>
						</td>
						<td>
							<b>O. Rojas, Y. Li, R.Cumani: </b> 
							<a href="http://www.fao.org/documents/card/en/c/67da3ac0-734e-4bf2-aeac-3cb09b419623/">
								Understanding the drought impact of El Niño on the global agricultural areas: An assessment using FAO’s Agricultural Stress Index (ASI)
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.fao.org/documents/card/en/c/792d9efb-7bc0-4a69-8240-0459a44f450c/">
								<img src="<%= image_path("protocol.jpg") %>">
							</a>
						</td>
						<td>
							<b>O. Rojas: </b> 
							<a href="http://www.fao.org/documents/card/en/c/792d9efb-7bc0-4a69-8240-0459a44f450c/">
								Protocol for Country-Level ASIS, Calibration and national adaptation processes
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://www.fao.org/documents/card/en/c/93debcf8-7f70-49a9-b729-2dbc7ee1a6f7/">
								<img src="<%= image_path("charector.jpg") %>">
							</a>
						</td>
						<td>
							<b>M. Cumani, O. Rojas: </b> 
							<a href="http://www.fao.org/documents/card/en/c/93debcf8-7f70-49a9-b729-2dbc7ee1a6f7/">
								Characterization of the Agricultural Drought Prone Areas on a Global Scale, using the FAO Agricultural Stress Index System (ASIS) to enhance the understanding of, and boost resilience to, water stress conditions in drought-prone areas.
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="http://public.centroclima.org/BROCHURE%20SEQUIA.pdf">
								<img src="<%= image_path("asis-pais.png") %>">
							</a>
						</td>
						<td>
							<b>FAO: </b> 
							<a href="http://public.centroclima.org/BROCHURE%20SEQUIA.pdf">
								ASIS - País: Sistema de Vigilancia de la Sequía Agrícola
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h2>Herramienta ASIS</h2>
			<p><b>El sistema de vigilancia de la sequía agrícola</b> se establece con la colaboración de la Organización para la Agricultura y la 
			Alimentación de las Naciones Unidas (FAO) para el fortalecimiento de las capacidades nacionales y regionales para el monitoreo y alerta 
			temprana de la sequía en agricultura con el uso de información geoespacial.  El sistema sirve de apoyo a la adaptación al cambio climático
			y gestión de riesgos.  Este esfuerzo a la vez complementa las actividades que el Comité Regional de Recursos Hidráulicos (CRRH) realiza 
			con la “Perspectiva Regional del Clima”.  El Sistema Mundial de Información y Alerta sobre la alimentación y la agricultura (SMIA) 
			contribuye a las regiones y países suministrando las imágenes en tiempo cuasi-real (cada 10 días) para el cálculo del Índice de Estrés 
			Agrícola (ASI, por sus siglas en inglés), un indicador rápido para la identificación temprana de zonas agrícolas con alta probabilidad de 
			ser afectadas por episodios de sequía, o por sequía extremas. 
			</br>ASIS en el 2016 obtuvo el premio por el uso de la información geoespacial en agricultura:  <b>Geospatial World Excellence Award.</b></p>
			</br>
			<iframe width="100%" height="500" src="https://www.youtube.com/embed/oKqzgk616Rc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
			</iframe>
		</div>
	</div>
</div>